###################################
Set this file and copy it into .env
###################################

PORT = ****
MONGODB_URI = mongodb://***
MONGODB_DEV_URI = mongodb://***
MONGODB_TEST_URI = mongodb://***